version: '3.8'

services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=store
    volumes:
      - /e/info/postgresql/data
    ports:
      - '5432:5432'

  api:
    build: .
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=prod
      - DB=pg
    depends_on:
      - db

#  mongo:
#    build: .
#    ports:
#      - '7777:3000'
#    environment:
#      - NODE_ENV=prod
#      - DB=mongo
#      - DB_CONN_STRING=mongodb+srv://vladmiron:travazabor206@cluster0.6mfby.mongodb.net/store
